<html ng-app="Baklava">
<head>
    <meta charset="utf8"/>
    <meta name="description" content="Baklava timetable editor">
    <title>{{'APPSHORTTITLE' | translate}}</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel='stylesheet' href='./node_modules/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="icon" href="favicon.ico">
</head>
<body>
    <ng-include src="'templates/navigation.html'"></ng-include>
    <div ng-controller="MainCtrl">
        <h3>Morning</h3>

        <table cellspacing="2px" cellpadding="2px;" style="border:solid 1px black;">
          <thead>
            <tr>
              <th> &nbsp; </th>
              <th ng-repeat="column in columns">{{ column }}</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in morningRows" ng-init="rowIndex = $index">
                  <th>{{ row }}</th>
                  <td ng-repeat="column in columns" ng-init="colIndex = $index">{{ morningData[rowIndex][column] }}</td>
              </tr>
          </tbody>
        </table>

    </div>
    <ng-include src="'templates/footer.html'"></ng-include>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="./bundle.js"></script>
</body>
</html>
